.weather-app {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ffe3e3;
  border-radius: 10px;
  font-family: "Poppins";
}

h1 {
  color: #93b5c6;
  text-align: center;
}

h2 {
  color: #c9ccd5;
  text-align: center;
  margin: 10px 0;
}

.weather-temperature img {
  margin-right: 10px;
}
.temperature {
  color: #9cb4cc;
  font-size: 64px;
  line-height: 1;
  float: left;
}

.units {
  font-size: 16px;
}

li {
  list-style: none;
  color: #9cb4cc;
  text-transform: capitalize;
}

.form {
  text-align: center;
  margin: 20px auto;
}

.search-button {
  border-radius: 30px;
  border: 3px solid #ffe3e3;
  background-color: white;
  color: #ffe3e3;
  padding: 0 10px;
}

.current-location-button {
  border-radius: 30px;
  border: 3px solid #ffe3e3;
  background-color: white;
  color: #ffe3e3;
  padding: 0 10px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.9;
}

.weather-forecast-temperature-max {
  opacity: 0.7;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.github-link {
  text-align: center;
}
