.weather-app {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  border: 7px solid #fff9b0;
  border-radius: 10px;
  font-family: "Poppins";
}

h1 {
  color: #ffab73;
  text-align: center;
}

h2 {
  color: #ffab73;
  text-align: center;
  margin: 10px 0;
}

.weather-temperature img {
  margin-right: 10px;
}
.temperature {
  color: #ffaec0;
  font-size: 64px;
  line-height: 1;
  float: left;
}

.units {
  font-size: 16px;
}

li {
  list-style: none;
  color: #ffaec0;
  text-transform: capitalize;
}

.form {
  text-align: center;
  margin: 20px auto;
}

.search-button {
  border-radius: 30px;
  border: 3px solid #ffd384;
  background-color: white;
  color: #ffd384;
  padding: 0 10px;
}

.current-location-button {
  border-radius: 30px;
  border: 3px solid #ffd384;
  background-color: white;
  color: #ffd384;
  padding: 0 10px;
}

.weather-forecast {
  margin-top: 20px;
  margin-left: 70px;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.9;
}

.weather-forecast-temperature-max {
  opacity: 0.7;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.github-link {
  margin-top: 0;
  text-align: center;
}
